*{
  padding: 0;
  margin: 0;
  font-family: Rubik, Helvetica, Arial, sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
  
}

::-webkit-scrollbar-track {
  background: none;
  /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #9fc4ff;
  border-radius: 32px;
  /* Set the color of the scrollbar thumb */
}